# VacationPy
----

## Dependencies

In [1]:
# import dependencies
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import requests
import gmaps
import os
import json

# import API keys:
from config import g_key

### Store Part I results into DataFrame
* Load the csv exported in Part I to a DataFrame

In [2]:
# import original data obtained and analyzed from OpenWeather API call in WeatherPy
weather_df = pd.read_csv("output_data/cities_weather.csv", dtype="object", encoding="utf-8")

# visualize / show the top 5 rows of the data frame
weather_df.head()

,City,Country,Cloudiness,Date,Humidity,Lat,Lng,Temp,Max Temp,Wind Speed
0,Barrow,US,1,1579917160,68,71.29,-156.79,-18.4,-18.4,10.29
1,Victoria,SC,20,1579917460,83,-4.62,55.45,82.4,82.4,3.36
2,Ternate,ID,41,1579917460,58,0.8,127.4,87.67,87.67,5.39
3,Puerto Ayora,EC,23,1579917460,57,-0.74,-90.35,77.0,77.0,1.01
4,Avarua,CK,80,1579917174,88,-21.21,-159.78,82.4,82.4,8.05

### Humidity Heatmap
* Configure gmaps.
* Use the Lat and Lng as locations and Humidity as the weight.
* Add Heatmap layer to map.

In [3]:
# configure gmaps; access maps with g_key google maps API key (g_key)
gmaps.configure(api_key=g_key)

# create list of coordinates and humidity
# coordinates = list(zip(weather_df["Lat"].astype(float), weather_df["Lng"].astype(float)))
coordinates = weather_df[['Lat', 'Lng']].astype(float)
humidity = weather_df["Humidity"].astype(float)

# set the size and other properties of the figure
figure_layout = {
    'width': '1000px',
    'height': '500px',
    'border': '1px solid black',
    'padding': '1px',
    'margin': '0 auto 0 auto'
}

# set the layout, center of map and zoom level (for easy viewing; zoom set to level where map isn't repeated)
# fig = gmaps.figure(layout=figure_layout)
fig = gmaps.figure(layout=figure_layout,
                   center=(20,0),
                   zoom_level=1.9)

# assign marker layer to the variable "coordinates"
# markers = gmaps.marker_layer(coordinates)

# create the heat map layer
heat_layer = gmaps.heatmap_layer(coordinates,
                                 weights=humidity, 
                                 dissipating=False,
                                 max_intensity=500,
                                 point_radius=7.5)
fig.add_layer(heat_layer)

# add markers layer to the map
# fig.add_layer(markers)

# show the figure
fig

Figure(layout=FigureLayout(border='1px solid black', height='500px', margin='0 auto 0 auto', padding='1px', wiâ€¦

### Create new DataFrame fitting weather criteria
* Narrow down the cities to fit weather conditions.
* Drop any rows will null values.

In [4]:
# convert object types in data frame to numeric (int or float) to be able to use .loc
# weather_df.dtypes
# weather_df = weather_df.apply(pd.to_numeric)
# weather_df[["Cloudiness","Date","Humidity","Lat","Lng","Temp","Max Temp","Wind Speed"]] = weather_df[["Cloudiness","Date","Humidity","Lat","Lng","Temp","Max Temp","Wind Speed"]].astype(float)
weather_df[["Cloudiness","Date","Humidity","Lat","Lng","Temp","Max Temp","Wind Speed"]] = weather_df[["Cloudiness","Date","Humidity","Lat","Lng","Temp","Max Temp","Wind Speed"]].apply(pd.to_numeric)
# weather_df.dtypes
# weather_df.head()

In [19]:
# filter / narrow down to only include cities with my ideal vacation conditions:
# Max Temps between 80 and 100, Wind Speeds <= 10mph, Humidity <= 70% and Cloudiness  <= 10%
filtered_df = weather_df.loc[
    (weather_df["Max Temp"] >= 80) &
    (weather_df["Max Temp"] <= 100) &
    (weather_df["Wind Speed"]  <= 10) &
    (weather_df["Humidity"]  <= 70) &
    (weather_df["Cloudiness"]  <= 10)
    ]

# drop rows with null values
filtered_df = filtered_df.dropna()

# visualize filtered results data frame
filtered_df

,City,Country,Cloudiness,Date,Humidity,Lat,Lng,Temp,Max Temp,Wind Speed
23,Nailon,PH,0,1579917463,70,11.05,124.04,84.00,84.00,9.80
32,Busselton,AU,0,1579917165,31,-33.65,115.33,80.28,84.00,5.37
172,Port Hedland,AU,0,1579917482,37,-20.32,118.57,98.60,98.60,4.70
179,Rantepao,ID,8,1579917483,59,-2.97,119.90,81.90,81.90,4.09
259,Lorengau,PG,9,1579917493,69,-2.02,147.27,83.79,83.79,3.44
283,La Asuncion,VE,7,1579917202,69,11.03,-63.86,80.60,80.60,2.24
325,Makakilo City,US,1,1579917501,54,21.35,-158.09,79.05,80.01,9.17
364,Kieta,PG,0,1579917216,66,-6.22,155.63,86.59,86.59,7.96
462,Kaeo,NZ,0,1579917518,61,-35.10,173.78,84.40,91.99,1.01
503,Russell,NZ,0,1579917523,66,-35.26,174.12,83.55,91.99,8.01
535,Australind,AU,0,1579917527,31,-33.27,115.72,81.41,84.99,5.37
542,Pemangkat,ID,0,1579917528,68,1.17,108.97,84.85,84.85,4.38

### Hotel Map
* Store into variable named `hotel_df`.
* Add a "Hotel Name" column to the DataFrame.
* Set parameters to search for hotels with 5000 meters.
* Hit the Google Places API for each city's coordinates.
* Store the first Hotel result into the DataFrame.
* Plot markers on top of the heatmap.

In [20]:
# create new hotel_df from existing filtered_df
hotel_df = filtered_df

# add "Hotel Name" column (initially blank, but will be populated later with results from Google Places API call)
hotel_df["Hotel Name"] = ""
hotel_df

,City,Country,Cloudiness,Date,Humidity,Lat,Lng,Temp,Max Temp,Wind Speed,Hotel Name
23,Nailon,PH,0,1579917463,70,11.05,124.04,84.00,84.00,9.80,
32,Busselton,AU,0,1579917165,31,-33.65,115.33,80.28,84.00,5.37,
172,Port Hedland,AU,0,1579917482,37,-20.32,118.57,98.60,98.60,4.70,
179,Rantepao,ID,8,1579917483,59,-2.97,119.90,81.90,81.90,4.09,
259,Lorengau,PG,9,1579917493,69,-2.02,147.27,83.79,83.79,3.44,
283,La Asuncion,VE,7,1579917202,69,11.03,-63.86,80.60,80.60,2.24,
325,Makakilo City,US,1,1579917501,54,21.35,-158.09,79.05,80.01,9.17,
364,Kieta,PG,0,1579917216,66,-6.22,155.63,86.59,86.59,7.96,
462,Kaeo,NZ,0,1579917518,61,-35.10,173.78,84.40,91.99,1.01,
503,Russell,NZ,0,1579917523,66,-35.26,174.12,83.55,91.99,8.01,
535,Australind,AU,0,1579917527,31,-33.27,115.72,81.41,84.99,5.37,
542,Pemangkat,ID,0,1579917528,68,1.17,108.97,84.85,84.85,4.38,

In [21]:
# setup url
base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

# setup API parameter needed for API call in the for loop
target_coordinates = "" # will be reset to each city in the for loop
target_lat_coordinates = "" # will be reset to each city in the for loop
target_lng_coordinates = "" # will be reset to each city in the for loop
# target_rank = "distance"
target_search = "hotels"
target_radius = 5000
target_type = "lodging"

# setup parameters dictionary
params = {
    "location": target_coordinates,
#     "location": "32.7767, -96.7970", # Dallas, TX for testing
    "keyword": target_search,
    "type": target_type,
    "radius": target_radius,
    "rank_by": "distance",
    "key": g_key
}

# setup other variable (initially as blank); to be updated, used in for loop with API call for each city
closest_hotel = ""
closest_hotel_lat = ""
closest_hotel_lng = ""

In [22]:
# for loop, looping through hotel_df, completing Google Places API call for each city's row
for index, row in hotel_df.iterrows():
    
    # get city coordinates from hotel_df and set as target_coordinates
    target_coordinates = row["Lat"], row["Lng"]
#     target_lat_coordinates = row["Lat"]
#     target_lng_coordinates = row["Lng"]
#     target_coordinates = f"{target_lat_coordinates}, {target_lng_coordinates}"
#     target_coordinates = f"{target_coordinates[0]}, {target_coordinates[1]}"

    #place target_coordinates in correct format to yield a successful API call
    target_coordinates = f"{row.Lat}, {row.Lng}"
    
    # reset the locations parameter to the current city's coordinates
    params["location"] = target_coordinates
    
    # run API call for current row
    hotel_response = requests.get(base_url,params).json()
    
    # exception handling in the event there are no results
    try:
        # extract results
        results = hotel_response["results"]
        closest_hotel = results[0]["name"]
        closest_hotel_lat = results[0]["geometry"]["location"]["lat"]
        closest_hotel_lng = results[0]["geometry"]["location"]["lng"]
        
        # update columns in hotel_df for current city
#         hotel_df.loc[index, "Hotel Name"] = results[0]["name"]
        hotel_df.loc[index, "Hotel Name"] = closest_hotel
        hotel_df.loc[index, "Hotel Lat"] = closest_hotel_lat
        hotel_df.loc[index, "Hotel Lng"] = closest_hotel_lng
        
    except (KeyError, IndexError):
#         pass
        continue

In [16]:
# # print the JSON (pretty printed)
print(json.dumps(hotel_response, indent=4, sort_keys=True))

In [23]:
# visulaize the updated hotel_df with newly added closest Hotel result columns
hotel_df

,City,Country,Cloudiness,Date,Humidity,Lat,Lng,Temp,Max Temp,Wind Speed,Hotel Name,Hotel Lat,Hotel Lng
23,Nailon,PH,0,1579917463,70,11.05,124.04,84.00,84.00,9.80,Hisoler's Beach Resort,11.047849,124.038777
32,Busselton,AU,0,1579917165,31,-33.65,115.33,80.28,84.00,5.37,Abbey Beach Resort,-33.658382,115.274226
172,Port Hedland,AU,0,1579917482,37,-20.32,118.57,98.60,98.60,4.70,The Esplanade Hotel,-20.314012,118.576470
179,Rantepao,ID,8,1579917483,59,-2.97,119.90,81.90,81.90,4.09,Toraja Misiliana Hotel,-2.993107,119.885196
259,Lorengau,PG,9,1579917493,69,-2.02,147.27,83.79,83.79,3.44,Lorengau Harbourside Hotel,-2.023093,147.270242
283,La Asuncion,VE,7,1579917202,69,11.03,-63.86,80.60,80.60,2.24,Villa La Blanquilla,11.003780,-63.822160
325,Makakilo City,US,1,1579917501,54,21.35,-158.09,79.05,80.01,9.17,Marriott's Ko Olina Beach Club,21.333045,-158.120239
364,Kieta,PG,0,1579917216,66,-6.22,155.63,86.59,86.59,7.96,,NaN,NaN
462,Kaeo,NZ,0,1579917518,61,-35.10,173.78,84.40,91.99,1.01,Pacific Harbour Lodge,-35.054260,173.740702
503,Russell,NZ,0,1579917523,66,-35.26,174.12,83.55,91.99,8.01,Paihia Beach Resort & Spa,-35.279046,174.086770
535,Australind,AU,0,1579917527,31,-33.27,115.72,81.41,84.99,5.37,"Riverside Cabins, Caravans & Camping",-33.312396,115.696451
542,Pemangkat,ID,0,1579917528,68,1.17,108.97,84.85,84.85,4.38,Grand Hotel,1.177422,108.974648

In [24]:
# drop rows with null values where no Hotel was found within the search paramteters
hotel_df = hotel_df.dropna()
hotel_df

,City,Country,Cloudiness,Date,Humidity,Lat,Lng,Temp,Max Temp,Wind Speed,Hotel Name,Hotel Lat,Hotel Lng
23,Nailon,PH,0,1579917463,70,11.05,124.04,84.00,84.00,9.80,Hisoler's Beach Resort,11.047849,124.038777
32,Busselton,AU,0,1579917165,31,-33.65,115.33,80.28,84.00,5.37,Abbey Beach Resort,-33.658382,115.274226
172,Port Hedland,AU,0,1579917482,37,-20.32,118.57,98.60,98.60,4.70,The Esplanade Hotel,-20.314012,118.576470
179,Rantepao,ID,8,1579917483,59,-2.97,119.90,81.90,81.90,4.09,Toraja Misiliana Hotel,-2.993107,119.885196
259,Lorengau,PG,9,1579917493,69,-2.02,147.27,83.79,83.79,3.44,Lorengau Harbourside Hotel,-2.023093,147.270242
283,La Asuncion,VE,7,1579917202,69,11.03,-63.86,80.60,80.60,2.24,Villa La Blanquilla,11.003780,-63.822160
325,Makakilo City,US,1,1579917501,54,21.35,-158.09,79.05,80.01,9.17,Marriott's Ko Olina Beach Club,21.333045,-158.120239
462,Kaeo,NZ,0,1579917518,61,-35.10,173.78,84.40,91.99,1.01,Pacific Harbour Lodge,-35.054260,173.740702
503,Russell,NZ,0,1579917523,66,-35.26,174.12,83.55,91.99,8.01,Paihia Beach Resort & Spa,-35.279046,174.086770
535,Australind,AU,0,1579917527,31,-33.27,115.72,81.41,84.99,5.37,"Riverside Cabins, Caravans & Camping",-33.312396,115.696451
542,Pemangkat,ID,0,1579917528,68,1.17,108.97,84.85,84.85,4.38,Grand Hotel,1.177422,108.974648

In [25]:
# plot markers for the hotels on top of heat leayer map
# coordinates = list(zip(weather_df["Lat"].astype(float), weather_df["Lng"].astype(float)))
# coordinates = hotel_df[['Lat', 'Lng']].astype(float)
coordinates = hotel_df[['Hotel Lat', 'Hotel Lng']].astype(float)

# assign marker layer to the variable "coordinates"
markers = gmaps.marker_layer(coordinates)

# add marker_layer layer
fig.add_layer(markers)

# show the figure
fig

Figure(layout=FigureLayout(border='1px solid black', height='500px', margin='0 auto 0 auto', padding='1px', wiâ€¦

In [33]:
# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
# hotel_info = [info_box_template.format(**row) for index, row in narrowed_city_df.iterrows()]
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]
# locations = hotel_df[["Lat", "Lng"]]
locations = hotel_df[["Hotel Lat", "Hotel Lng"]]

In [34]:
# add markers layer on top of head map
marker_labels = gmaps.marker_layer(locations,
    info_box_content=hotel_info)

# add marker_layer layer
fig.add_layer(marker_labels)

# show the figure
fig

Figure(layout=FigureLayout(border='1px solid black', height='500px', margin='0 auto 0 auto', padding='1px', wiâ€¦

In [32]:
hotel_info

["\n<dl>\n<dt>Name</dt><dd>Hisoler's Beach Resort</dd>\n<dt>City</dt><dd>Nailon</dd>\n<dt>Country</dt><dd>PH</dd>\n</dl>\n",
 '\n<dl>\n<dt>Name</dt><dd>Abbey Beach Resort</dd>\n<dt>City</dt><dd>Busselton</dd>\n<dt>Country</dt><dd>AU</dd>\n</dl>\n',
 '\n<dl>\n<dt>Name</dt><dd>The Esplanade Hotel</dd>\n<dt>City</dt><dd>Port Hedland</dd>\n<dt>Country</dt><dd>AU</dd>\n</dl>\n',
 '\n<dl>\n<dt>Name</dt><dd>Toraja Misiliana Hotel</dd>\n<dt>City</dt><dd>Rantepao</dd>\n<dt>Country</dt><dd>ID</dd>\n</dl>\n',
 '\n<dl>\n<dt>Name</dt><dd>Lorengau Harbourside Hotel</dd>\n<dt>City</dt><dd>Lorengau</dd>\n<dt>Country</dt><dd>PG</dd>\n</dl>\n',
 '\n<dl>\n<dt>Name</dt><dd>Villa La Blanquilla</dd>\n<dt>City</dt><dd>La Asuncion</dd>\n<dt>Country</dt><dd>VE</dd>\n</dl>\n',
 "\n<dl>\n<dt>Name</dt><dd>Marriott's Ko Olina Beach Club</dd>\n<dt>City</dt><dd>Makakilo City</dd>\n<dt>Country</dt><dd>US</dd>\n</dl>\n",
 '\n<dl>\n<dt>Name</dt><dd></dd>\n<dt>City</dt><dd>Kieta</dd>\n<dt>Country</dt><dd>PG</dd>\n</dl>\n',
 '\n<dl>\n<dt>Name</dt><dd>Pacific Harbour Lodge</dd>\n<dt>City</dt><dd>Kaeo</dd>\n<dt>Country</dt><dd>NZ</dd>\n</dl>\n',
 '\n<dl>\n<dt>Name</dt><dd>Paihia Beach Resort & Spa</dd>\n<dt>City</dt><dd>Russell</dd>\n<dt>Country</dt><dd>NZ</dd>\n</dl>\n',
 '\n<dl>\n<dt>Name</dt><dd>Riverside Cabins, Caravans & Camping</dd>\n<dt>City</dt><dd>Australind</dd>\n<dt>Country</dt><dd>AU</dd>\n</dl>\n',
 '\n<dl>\n<dt>Name</dt><dd>Grand Hotel</dd>\n<dt>City</dt><dd>Pemangkat</dd>\n<dt>Country</dt><dd>ID</dd>\n</dl>\n']